# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-dotnet@v1
    - uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build
      run: python -m build
    - name: Upload source distribution
      uses: actions/upload-artifact@v3
      with:
        name: sdist
        path: "dist/*.tar.gz"
        if-no-files-found: error
    - name: Upload wheel
      uses: actions/upload-artifact@v3
      with:
        name: wheel
        path: "dist/*.whl"
        if-no-files-found: error

  test:
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ['3.10', '3.9', '3.8', '3.7'] # pypy3

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Cache Mono
      if: runner.os == 'Windows'
      uses: actions/cache@v2
      with:
        path: ${{ env.TEMP }}\chocolatey
        key: ${{ runner.os }}-chocolatey-${{ matrix.python == 'pypy3' && '32' || '64' }}

    - name: Install Mono
      if: runner.os == 'Windows'
      run: |
        choco install -y mono ${{ matrix.python == 'pypy3' && '--x86' || '' }}

    - name: Download wheel
      uses: actions/download-artifact@v3
      with:
        name: wheel

    - name: Install wheel and deps
      run: |
        python -m pip install --upgrade pip
        pip install ./*.whl
        pip install pytest

    - name: Test with pytest
      run: |
        pytest
